
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .thumbnail {
    text-align: center;
    max-width: 80%;
    margin: auto;
    display: block;
  }
}

.red {
  border: 3px solid red;
}

.green {
  border: 3px solid green;
}

.blue {
  border: 3px solid blue;
}

.hide {
  display: none;
}

.thumbnail {
  max-width: 20vw;
  min-width: 100px;
}

img {
  max-width: 30vw;
  min-width: 300px;
}

#instruction
{
   border: 2px solid black;
}